button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
}

.btn {
    transition: background-color .3s ease-out;
    color: #FFF;
    background-color: @button-background;
    border-radius: 3px;
    padding: @u-base @u-small;
    font-family: "Roboto";
    line-height: normal;
    display: inline-block;
    cursor: pointer;

    &:hover,
    &:focus {
        color: #FFF;
        background-color: @button-background-hover;
        text-decoration: none;
    }
}

.btnIcon {
    .fa-icon;
    transition: color .3s ease-out;
    color: @button-background;
    width: 24px;
    height: 24px;
    font-size: 1.6rem;

    &:hover,
    &:focus {
        color: @button-background-hover;
    }

    &.big {
        font-size: 2rem;
        width: 48px;
        height: 48px;
    }
}

.btnIcon {

    &.delete {
        .fa-trash-o;
    }

    &.menu {
        .fa-ellipsis-v;
    }

    &.modify {
        .fa-pencil;
    }

    &.archive {
        .fa-archive;
    }

    &.search {
        .fa-search;
    }

    &.add-users {
        .fa-user-plus;
    }
}

// TODO: REFACTOR
.mixin_iconSetting  {
    width: 30px;
    height: 20px;
}

.icon.bin {
    .fa-trash-o;
    .btnIcon;
}

.icon.pen {
    .fa-pencil;
    .mixin_iconSetting;
}

.icon.archive {
    .mixin_iconSetting;
}

.icon.folder {
    .fa-folder;
    .mixin_iconSetting;
}

.icon.plus {
    .fa-plus;
    .mixin_iconSetting;
}

.icon.user-plus {
    .fa-user-plus;
    .mixin_iconSetting;
}

.icon.user-less {
    .fa-user-times;
    .mixin_iconSetting;
}

.icon.user {
    .fa-user;
    .mixin_iconSetting;
}

