html, 
body {
    height: 100%;
}

body {
    position: relative;
    font-family: 'Roboto';
	font-size: 14px;
	background-color: @background-page;
	color: @text-color;
}

a {
    text-decoration: none;
}

h2 {
    font-family: 'Roboto';
    color: @color-gg-red-standard;
    font-size: 16px;
    margin: 0;
    line-height: @u-medium;
    padding: @u-base 0;
}

.view {
    margin-left: @size-nav;
    padding: @u-medium;
}