.mixin_placeholder {
    font-size: 1.2rem;
    color: @color-gray-04;;
}

::-webkit-input-placeholder {
    .mixin_placeholder;
}
:-moz-placeholder {
   .mixin_placeholder;
}
::-moz-placeholder {
   .mixin_placeholder;
}
:-ms-input-placeholder {
   .mixin_placeholder;
}

::-webkit-texttime-edit-year-field:not([aria-valuenow]),
::-webkit-texttime-edit-month-field:not([aria-valuenow]),
::-webkit-texttime-edit-day-field:not([aria-valuenow]),
::-webkit-texttime-edit-date:not([aria-valuenow]){
    color: transparent;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

input,
select,
textarea {
    background-color: transparent;
    box-sizing: border-box;
    color: @color-gray-04;
    border-color: @color-border-dark;
    border-style: solid;
    width: 100%;
    font-size: 1.4rem;

    .card,
    .module-card & {
        border-color: @color-border;
    }

    .module-header & {
        border-color: @color-border-dark;
    }

    &:focus {
        outline: 0;
    }
}

textarea {
    resize: none;
}

input {
    border-width: 1px;
    padding: @u-base;
}

select {
    border-width: 0 0 1px 0;
    padding: @u-base 0;
}

.form-underlined {
    position: relative;
    display: block;

    &.labelled {
        padding-top: @size-labelledInput;
    }

    input {
        height: @size-labelledInput;
        padding-left: 0;
        padding-right: 0;
        border-width: 0 0 1px 0;
        box-sizing: border-box;
    }

    textarea {
        border-width: 0 0 1px 0;
        width: 100%;
        box-sizing: border-box;
        resize: none;
    }

    textarea,
    input,
    select {

        &:focus ~ .form-underlined-label,
        &.filled ~ .form-underlined-label {
            top: @u-base;
            font-size: 1.2rem;
            color: @color-text;
        }

        &:focus {
            border-bottom: none;
        }

        &:focus ~ .form-underlined-bar {
            transform: scaleX(1);
        }
    }
}

.form-underlined-bar {
    transition: all 0.15s ease-out;
    position: relative;
    display: block;
    width: 100%;
    position: absolute;
    transform-origin: 50%;
    transform: scaleX(0);
    border-top: 2px solid @color-main;
    margin-top: -1px;
}

.form-underlined-label {
    .mixin_placeholder;
    transition: 0.15s ease-out;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: @u-base + @size-labelledInput;
}

.searchBox {
    @buttonSize: 48px;
    position: relative;

    input {
        padding-right: @buttonSize;
    }

    button {
        position: absolute;
        right: 0;
        top: 0;
        height: auto;
    }

    .module-header & {
        max-width: 300px;
    }
}

.form-actions {
    text-align: right;

    button,
    a {
        margin-left: @u-small;
    }
}

form.submitted,
form.ng-submitted {

    & .ng-invalid {
        color: @color-error;
        border-color: @color-error;

        ~ .form-underlined-label {
            color: @color-error;
        }
    }
}



.checkbox-test {
	width: @u-medium;
	height: @u-medium;
	font: inherit;
	vertical-align: middle;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background: #fff;
	border-radius: .125em;
	box-sizing: border-box;
	border: 1px solid grey;
	box-shadow: inset 0 0 0 0 @color-border;
	position: relative;
	margin-right: @u-base;
	transition: transform .3s cubic-bezier(.2,.3,0,1), box-shadow .3s cubic-bezier(.2,.3,0,1), border-color 0s linear .17s;

	&:focus {
		outline: none;
	}
	&:active {
		transform: scale(.8);
	}
	&:checked {
		border-color: @color-main;
		box-shadow: inset 0 0 0 @u-medium @color-main;
		transition: transform .3s cubic-bezier(.2,.3,0,1), box-shadow .3s cubic-bezier(.2,.3,0,1), border-color 0s;
	}
	&:before, &:after {
		content: '';
		background: #fff;
		height: @u-medium;
		width: @u-medium;
		position: absolute;
		transform: translate(6.8px, 11px) rotate(44.91deg) scale(.3411,.1);
		transform-origin: 0 0;
		transition: transform .3s cubic-bezier(.2,.3,0,1), opacity .3s cubic-bezier(.2,.3,0,1);
		top: -.125em;
		left: -.125em;
	}
	&:after {
		transform: translate(22px, 10.5px) rotate(135.22deg) scale(.5612,.1);
	}
	&:not(:checked):before {
		transform: translate(.505em,.455em) rotate(44.91deg) scale(.1,.1);
		/* opacity: 0; */
	}
	&:not(:checked):after {
		transform: translate(.575em,.525em) rotate(135.22deg) scale(.1,.1);
		/* opacity: 0; */
	}

	& + p {
	    display: inline-block;
	}

}


