.mixin_placeholder {
    font-size: 1.2rem;
    color: @color-gray-04;;
}

::-webkit-input-placeholder {
    .mixin_placeholder;
}
:-moz-placeholder {
   .mixin_placeholder;
}
::-moz-placeholder {
   .mixin_placeholder;
}
:-ms-input-placeholder {
   .mixin_placeholder;
}

::-webkit-texttime-edit-year-field:not([aria-valuenow]),
::-webkit-texttime-edit-month-field:not([aria-valuenow]),
::-webkit-texttime-edit-day-field:not([aria-valuenow]),
::-webkit-texttime-edit-date:not([aria-valuenow]){
    color: transparent;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

input,
select,
textarea {
    background-color: transparent;
    box-sizing: border-box;
    color: @color-gray-04;
    border-color: @color-border-dark;
    border-style: solid;
    width: 100%;
    font-size: 1.4rem;

    .card,
    .module-card & {
        border-color: @color-border;
    }

    .module-header & {
        border-color: @color-border-dark;
    }

    &:focus {
        outline: 0;
    }
}

textarea {
    resize: none;
}

input {
    border-width: 1px;
    padding: @u-base;
}

select {
    border-width: 0 0 1px 0;
    height: 26px;

    &[disabled] {
        border: none;
        padding: 0;
        -webkit-appearance: none;

        &::-ms-expand {
            display: none;
        }
    }
}

.mixin_activeLabel {
    top: @u-base;
    font-size: 1.2rem;
    color: @color-text;
}

.form-underlined {
    position: relative;
    display: block;

    &.labelled {
        padding-top: @size-labelledInput;
    }

    input {
        height: @size-labelledInput;
        padding-left: 0;
        padding-right: 0;
        border-width: 0 0 1px 0;
        box-sizing: border-box;
    }

    textarea {
        border-width: 0 0 1px 0;
        width: 100%;
        box-sizing: border-box;
        resize: none;
    }

    textarea,
    input,
    select {

        &:focus ~ .form-underlined-label,
        &.filled ~ .form-underlined-label,
        &.ng-invalid-email ~ .form-underlined-label {
            .mixin_activeLabel;
        }

        &:focus {
            border-bottom: none;
        }

        &:focus ~ .form-underlined-bar {
            transform: scaleX(1);
        }
    }
}

.form-underlined-bar {
    transition: all 0.15s ease-out;
    position: relative;
    display: block;
    width: 100%;
    position: absolute;
    transform-origin: 50%;
    transform: scaleX(0);
    border-top: 2px solid @color-main;
    margin-top: -1px;
}

.form-underlined-label {
    .mixin_placeholder;
    transition: 0.15s ease-out;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: @u-base + @size-labelledInput;

    &.fixed {
        .mixin_activeLabel;
        position: static;
        line-height: @size-labelledInput;
        margin-bottom: @u-base;
    }
}

.searchBox {
    @buttonSize: 48px;
    display: inline-block;
    position: relative;

    input {
        padding-right: @buttonSize;
    }

    button {
        position: absolute;
        right: 0;
        top: 0;
        height: auto;
    }

    .module-header & {
        max-width: 300px;
    }
}

.form-actions {
    margin-top: @u-small;
    text-align: right;

    .module-card + & {
        margin-top: @u-small;
    }

    button,
    a {
        margin-left: @u-small;
    }
}

form.submitted,
form.ng-submitted {

    & .ng-invalid {
        color: @color-error;
        border-color: @color-error;

        ~ .form-underlined-label {
            color: @color-error;
        }
    }
}

// CHECKBOX
@checkbox-size: 8px;

.checbox-container {
    display: inline-block;

    + .checbox-container {
        margin-left: @u-medium;
    }
}

.checkbox {
    cursor: pointer;
    position: relative;
    overflow: hidden;

    input {
        display: inline-block;
        width: auto;
        -webkit-appearance: none;
        border: none;
        background: none;
        width: 0;
        height: 0;
        position: absolute;
        top: -100%;
        left: -100%;
    }
}

.checkbox-placeholder {
    .fa-icon;
    .fa-check;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: @checkbox-size;
    height: @checkbox-size;
    margin-left: 3px;

    &::before,
    &::after {
        position: absolute;
        left: 50%;
        top: 50%;
            }

    &::before {
        transition: transform .2s ease-out;
        transform: translateY(-50%) translateX(-50%) scale(0);
        font-size: 1.4rem;
        line-height: @checkbox-size;
        color: @color-main;
        z-index: 1;
    }

    &::after {
        content: "";
        transition: all .2s ease-out;
        transform: translateY(-50%) translateX(-50%) scale(1);
        display: block;
        width: @checkbox-size;
        height: @checkbox-size;
        border: 2px solid @color-gray-42;
        border-radius: 2px;
        z-index: 0;
    }

    input:focus + &::after {
        border-color: @color-main;
    }

    input:focus:checked + &::after {
        transform: translateY(-50%) translateX(-50%) scale(1.6);
    }

    input:checked + & {

        &::after {
            transform: translateY(-50%) translateX(-50%) scale(0);
            border-color: @color-gray-80;
            background-color: @color-gray-80;
            border-radius: 50%;
        }

        &::before {
            transform: translateY(-50%) translateX(-50%) scale(1);
        }
    }
}

.checkbox-label {
    color: @color-gray-04;
    margin-left: 8px;
    vertical-align: middle;
    line-height: 0.8;

    input:checked ~ & {
        color: @color-main;
    }

    .filters & {
        font-size: 1.2rem;
        color: @color-gray-80;
    }
}
