@color-cyan: #00acc1;
@color-blue: #8c9eff;
@color-yellow: #ffb300;
@color-purple: #b39ddb;
@color-purple-dark: #784f8b;
@color-red: #ff5252;
@color-green: #66bb6a;

@color-gray-97: hsl(0, 0%, 97%);
@color-gray-95: hsl(0, 0%, 95%);
@color-gray-91: hsl(0, 0%, 91%);
@color-gray-80: hsl(0, 0%, 80%);
@color-gray-73: hsl(0, 0%, 73%);
@color-gray-60: hsl(0, 0%, 60%);
@color-gray-42: hsl(0, 0%, 42%);
@color-gray-35: hsl(0, 0%, 35%);
@color-gray-25: hsl(0, 0%, 25%);
@color-gray-04: hsl(0, 0%, 4%);

@color-body-background: @color-gray-95;
@color-text: @color-gray-35;
@color-text-light: @color-gray-73;
@color-text-lighter: @color-gray-91;

@color-border: @color-gray-91;
@color-border-dark: @color-gray-73;

@color-background-hover: @color-gray-97;
@color-background-hover-dark: @color-gray-73;

@color-main: @color-cyan;

@color-link: @color-main;
@color-link-hover: darken(@color-main, 5%);
@button-background: @color-link;
@button-background-hover: @color-link-hover;

@color-error: @color-red;

//z-index
@z-affix: 1;
@z-affix-1: 2;
@z-userList-searchList: 3;
@z-nav: 4;
@z-header: 5;
@z-filters: 6;
@z-datepicker: 7;
@z-modalBackground: 8;
@z-modal: 9;
@z-frozen: 10;
@z-notifications: 11;

//sizes
@size-header: 48px;
@size-nav: 220px;
@size-labelledInput: 26px;

//shadow
@shadow-base: 0.06;
@shadow-l1: 0 1px 3px rgba(0,0,0,@shadow-base), 0 1px 2px rgba(0,0,0,@shadow-base*2);
@shadow-l2: 0 3px 6px rgba(0,0,0,@shadow-base*1.3), 0 3px 6px rgba(0,0,0,@shadow-base*2);
@shadow-l3: 0 10px 20px rgba(0,0,0,@shadow-base*1.5), 0 6px 6px rgba(0,0,0,@shadow-base*2);
@shadow-l4: 0 14px 28px rgba(0,0,0,@shadow-base*2), 0 10px 10px rgba(0,0,0,@shadow-base*2);
@shadow-l5: 0 19px 38px rgba(0,0,0,@shadow-base*2.5), 0 15px 12px rgba(0,0,0,@shadow-base*2);

// espaces
@u-base: 6px;
@u-small: @u-base*2;  // 12px
@u-medium: @u-base*4; // 24px
@u-large: @u-base*8;  // 48px

// paths
@p-loader: "../assets/img/loader.gif";

//Google color
@color-gg-red-standard: #F44336; //500
@color-gg-red-accent: #FF1744; //A400
@color-gg-red-lighter: #E57373; //300
@color-gg-red-darker: #B71C1C; //900

@color-gg-indigo-standard: #3F51B5; //500
@color-gg-indigo-accent: #3D5AFE; //A400
@color-gg-indigo-lighter: #C5CAE9; //300
@color-gg-indigo-darker: #1A237E; //900

@color-gg-light--green-standard: #8BC34A; //500
@color-gg-light--green-accent: #76FF03; //A400
@color-gg-light--green-lighter: #AED581; //300
@color-gg-light--green-darker: #33691E; //900

@color-gg-deep--purple-standard: #673AB7; //500
@color-gg-deep--purple-accent: #651FFF; //A400
@color-gg-deep--purple-lighter: #9575CD; //300
@color-gg-deep--purple-darker: #311B92; //900

@color-gg-lime-standard: #CDDC39; //500
@color-gg-lime-accent: #C6FF00; //A400
@color-gg-lime-lighter: #DCE775; //300
@color-gg-lime-darker: #827717; //900

@color-gg-yellow-standard: #FFEB3B; //500
@color-gg-yellow-accent: #FFEA00; //A400
@color-gg-yellow-lighter: #FFF176; //300
@color-gg-yellow-darker: #F57F17; //900

@color-gg-grey-standard: #9E9E9E; //500
@color-gg-grey-medium: #757575; //A400
@color-gg-grey-lighter: #E0E0E0; //300
@color-gg-grey-darker: #424242; //800

@color-black: #757575;
@color-secondary-black: #727272;
@color-disable-black: #B8B8B8;

@color-white: #FFFFFF;
@color-secondary-white: #FDFDFD;
@color-disable-white: #FBFBFB;

