.cost {

    h3 {
        margin: @u-small 0 @u-small;
    }

    h4 {
        margin: @u-small 0 @u-small;
    }

    .label {
        display: block;
        padding: @u-small 0;
    }

    label {
        display: block;
        background: @color-gray-95;
        border-radius: 3px;
        padding: @u-base;
        text-align: center;
    }

    input {
        background-color: #FFF;
        border: none;
        text-align: center;

        &[disabled] {
            background: none;
        }
    }
}

.cost-reste {
    text-align: center;
    background: @color-purple-dark;
    color: #FFF;
    margin: 0 -@u-small -@u-small;
    padding: @u-medium;
    font-size: 1.8rem;
}

.cost-reste-price {
    margin-left: .5em;
    font-weight: 400;
}
