.details-title {
    margin-top: @u-medium;
    border-bottom: 1px solid @color-purple-dark;
    padding-bottom: @u-base;
    margin-bottom: @u-medium;
}

.details-id {
    margin-bottom: @u-base;
}

.grid.pad > .details-list {
    margin-top: @u-medium;


}

.details-list.grid.pad {
    margin-top: 0;

    li + li {
        margin-top: 0;
    }
}

.details-list {
    margin-top: @u-medium;

    li + li {
        margin-top: @u-medium;
    }
}

.details-label {
    display: inline-block;
    font-weight: 400;
    font-size: 1.2rem;
    margin-right: @u-medium;
    min-width: 10rem;
}
