.table {
    margin-top: @u-medium;

    &:first-child {
        margin-top: 0;
    }

    .affix > & {
        padding-top: 25px;
    }
}

.table.listed {
    display: table;
    width: 100%;
}

.table-group {
    display: table-row-group;
}

.table-head {
    display: table-header-group;

    &.affix-target {
        transition: background .3s ease-out, color .3s ease-out, transform .3s ease-out;
        left: @size-nav + @u-medium;
        right: @u-medium;
        padding-left: @u-small;
        padding-right: @u-small;

        .affix & {
            transform: translateY(100%);
            margin-top: -25px;
            background-color: @color-main;
            color: #FFF;

            .table-cell {
                border-bottom-color: transparent;
            }
        }
    }
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
    padding: @u-base;
    box-sizing: border-box;

    &:last-child {
        text-align: right;
    }

    .table-head & {
        border-bottom: 1px solid @color-border-dark;
        white-space: nowrap;
        font-size: 1.2rem;

        .module-card &,
        .card & {
            border-bottom-color: @color-border;
        }
    }

    &.inline {
        white-space: nowrap;
    }

    .table-group & {
        transition: background .15s ease-out;
    }

    .table-group .table-row:hover & {
        background-color: @color-background-hover-dark;

        .module-card &,
        .card & {
            background-color: @color-background-hover;
        }
    }

    &.actions button {
        visibility: hidden;

        .table-row:hover & {
            visibility: visible;
        }
    }
}

.table-cell {

    &.w-100 {
        min-width: 100px;
    }

    &.w-90 {
        min-width: 90px;
    }

    &.w-70 {
        min-width: 70px;
    }
}

/*
.table-container {
    padding: @u-small;
    // background-color: @background-module;

    & + .table-container {
        margin-top: @u-small;
    }
    .table-module {
        display: table;
        width: 100%;
        border-collapse: collapse;

        h2 {
            padding: @u-base;
        }
        > li {
            display: table-row;
            line-height: @u-large;

            > div {
                display: table-cell;
                text-align: left;
                vertical-align: top;
                color: @color-text;
                padding-left: @u-base;
            }

            .icone {
                width: 30px;
                padding-left: 0;
            }

            .column-short {
                width: 90px;
            }
            .last {
                padding-right: @u-base;
            }
            a {
                display: block;
                cursor: pointer;
            }
        }
    }
    .table-header {

        > div {
            // border-bottom: 1px solid @color-gg-indigo-darker;
            color: @color-text;
        }
    }
}

table {

        tr {
            height: @u-medium;
            line-height: @u-medium;
            text-align: center;

            &:hover {
                // background-color: @color-gg-indigo-lighter;
            }
        }

        th {
            max-width: 180px;
            min-width: 130px;
            vertical-align: middle;
            text-align: left;
        }

        td {
            max-width: 100px;
            vertical-align: middle;

            input {
                width: 60%;
                margin: @u-base 0;
            }

            p {
                display: inline;
            }
        }
}
*/
