.table-container {
    padding: @u-small;
    background-color: @background-module;

    & + .table-container {
        margin-top: @u-small;
    }
    .table-module {
        display: table;
        width: 100%;
        border-collapse: collapse;
        
        h2 {
            padding: @u-base;
        }
        > li {
            display: table-row;
            line-height: @u-large;
    
            > div {
                display: table-cell;
                text-align: left;
                vertical-align: top;
                color: @text-color;
                padding-left: @u-base;
            }
            
            .icone {
                width: 30px;
                padding-left: 0;
            }
            
            .column-short {
                width: 90px;
            }
            .last {
                padding-right: @u-base;
            }
            a {
                display: block;
                cursor: pointer;
            }
        }
    }
    .table-header {
        
        > div {
            border-bottom: 1px solid @color-gg-indigo-darker;
            color: @text-color;
        }
    }
}

table {
        
        tr {
            height: @u-medium;
            line-height: @u-medium;
            text-align: center;
            
            &:hover {
                background-color: @color-gg-indigo-lighter;    
            }
        }
        
        th {
            max-width: 180px;
            min-width: 130px;
            vertical-align: middle;
            text-align: left;
        }
        
        td {
            max-width: 100px;
            vertical-align: middle;
            
            input {
                width: 60%;
                margin: @u-base 0;
            }
            
            p {
                display: inline;
            }
        }
}
