.training-select {
    display: table;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: @u-medium;
    background-color: @background-module;
    padding: @u-small;
    box-shadow: @shadow-l1;
    

    form, button {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
        width: 33,33%;
        
    }
    
    form {
        padding-right: @u-medium;    
    }
    p {
        display: inline;  
    }
    .search-input { 
        width: 100%;
    }

    
}


