.module-documentation(ng-controller="documentationController")

    h2.module-title Documentation

    ul.module-list.grid.pad.noSpacing
        li.col-1-2(ng-repeat="doc in docs")
            .module-list-item.doc
                a(ng-href="doc.link").module-list-link
                    span.module-list-icon
                    span.module-list-label {{doc.title}}
            
    .module-cta
        button.btn Voir tout