.module-indicateurs

    h2.module-title Indicateurs
    //-form
        input.date-indicator(type='text' value='xx/xx/xxxx')
    ul.module-indicateurs-list
        li.module-indicateurs-item.formation
            b 37
            |  formation(s) réalisées
        li.module-indicateurs-item.employes
            b 685
            |  salariés formés
        li.module-indicateurs-item.heures
            b 4083
            |  heures de formation(s)
