.module-indicateurs(ng-controller="indicateursController")

    h2.module-title Indicateurs

    ul.module-indicateurs-list
        li.module-indicateurs-item.formation(ng-if="indicateurs.formations")
            b {{indicateurs.formations}} 
            | formation(s) réalisées
        li.module-indicateurs-item.employes(ng-if="indicateurs.salaries")
            b {{indicateurs.salaries}} 
            | salariés formés
        li.module-indicateurs-item.heures(ng-if="indicateurs.heures")
            b {{indicateurs.heures}} 
            | heures de formation(s)
