.module-lastSessions(ng-controller="lastSessionsController")

    h2.module-title Vos dernières sessions

    ul.module-list
        li.module-list-item.session(ng-repeat="session in lastSessions")
            a(ng-href="#/sessions/{{session.id}}").module-list-link
                span.module-list-icon
                span.module-list-label {{session.reference}}

    .module-cta
        button.btn Voir tout
