.module-lastSessions

    h2.module-title Vos dernières sessions

    ul.module-list
        // template: lastSessions
        // datas: lastSessions
        
    .module-cta
        button.btn Voir tout

    script(data-name="lastSessions" type="text/x-handlebars-template")
        | {{#each this}}
        li.module-list-item.session
                a(href="{{link}}").module-list-link
                    span.module-list-icon
                    span.module-list-label {{title}}
        | {{/each}}