.module-card
    form.grid
        h2.col-2-3 Cr&#233;ation d"une session Employeur FI_FTN_EA
        .col-1-3
            +form-underlined("Nature")
                select
                    option(value="value1") 
                    option(value="value2") Adaptation
                    option(value="value3") D&#233;veloppement
                    option(value="value4") VAE
                    option(value="value5") Bilan de comp&#233;tences
                    option(value="value6") Professionalisation
        .col-1-2
            +form-underlined("Activité")
                input(type="text" required)
        .col-1-2
            +form-underlined("Client")
                input(type="text" required)
        .col-1-2
            +form-underlined("Produit")
                input(type="text" required)
        .col-1-2
            +form-underlined("Durée (heures)")
                input(type="number" required)
        .col-1-2
            +form-underlined("Horaire souhaité")
                select(name="Hrssouhaites")
                    option(value="value1") 
                    option(value="value2") Horaire de travail
                    option(value="value3") Horaire d&#233;cal&#233;
        .col-1-2
            +form-underlined("Date de début")
                input(type="text" required)
        .col-1-2
            +form-underlined("Date de fin")
                input(type="text" required)
            
    include module-submit

    include module-selection-trainees
    
    include module-saisie-realise
        
    include module-submit
  
    include module-saisie-couts
    
    include modal-suivi-imputations
    
    include module-saisie-financement
