.pop-in-container
    form.grid
        // Module de renseignement de base
        h2.col-1 
            | Cr&#233;ation d"une session CPF "nom de l"action"
        .col-1-3    
            +form-underlined("Matricule")
                input(type="text" required)
        .col-1-3    
            +form-underlined("Nom")
                input(type="text" required)
        .col-1-3
            +form-underlined("Catégorie")
                select
                    option(value="value1") 
                    option(value="value2") Formation initiale
                    option(value="value3") Formation continue
        .col-1-3    
            +form-underlined("Prénom")
                input(type="text" required)
        .col-1-3    
            +form-underlined("Date de la demande")
                input(type="date" required)
        .col-1-3    
            +form-underlined("Date butoir")
                input(type="date" required)
        .col-1-3    
            +form-underlined("Nombre hrs CPF mobilisé")
                input(type="number" required)
        .col-1-3
            +form-underlined("Nature")
                select
                    option(value="value1") 
                    option(value="value2") Adaptation
                    option(value="value3") D&#233;veloppement
                    option(value="value3") VAE
                    option(value="value3") Bilan de comp&#233;tences
        .col-1-3
            +form-underlined("Organisme")
                select
                    option(value="value1") 
                    option(value="value2") Interne
                    option(value="value3") Externe
        .col-1-3
            +form-underlined("Horaire souhaité")
                select
                    option(value="value1") 
                    option(value="value2") Pendant le temps de travail
                    option(value="value3") Hors temps de travail
        .col-1-2
            +form-underlined("Validation")
                select
                    option(value="value1") 
                    option(value="value2") Formation certifiante
                    option(value="value3") Formation qualifiante
                    option(value="value4") Formation dipl&#244;mante
        .col-1-2
            +form-underlined("Action prioritaire de la branche")
                select
                    option(value="value1") 
                    option(value="value2") Action prioritaire
                    option(value="value3") Action non prioritaire
        .col-1-3    
            +form-underlined("Durée (heure)")
                input(type="number" required)
        .col-1-3    
            +form-underlined("Organisme de formation")
                input(type="text" required)
        .col-1-3    
            +form-underlined("Date de début")
                input(type="date" required)
        .col-1-3    
            +form-underlined("Date de fin")
                input(type="date" required)
        include module-submit
            // Module d'imputation des coûts

    include module-saisie-couts

    include modal-suivi-imputations
 
    include module-saisie-financement
            
