form
    .grid.pad
        h2.col-1 Cr&#233;ation d"une session CIF "nom de l"action"
        .col-1-3    
            +form-underlined("Matricule")
                input(type="text" required)
        .col-1-3    
            +form-underlined("Nom")
                input(type="text" required)
        .col-1-3    
            +form-underlined("Prénom")
                input(type="text" required)
        .col-1-3    
            +form-underlined("Date de la demande")
                input(type="date" required)
        .col-1-3    
            +form-underlined("Date butoir")
                input(type="date" required)
        .col-1-3
            +form-underlined("Tps complet/Tps partiel")
                select
                    option(value="value1") --Tps complet/Tps partiel--
                    option(value="value2") Temps complet
                    option(value="value3") Temps partiel
        .col-1-2
            +form-underlined("Validation")
                select
                    option(value="value1") 
                    option(value="value2") Formation certifiante
                    option(value="value3") Formation qualifiante
                    option(value="value4") Formation dipl&#244;mante
        .col-1-3    
            +form-underlined("Pr&#233;cisez :")
                input(type="text" required)
        .col-1-3    
            +form-underlined("Durée (heure)")
                input(type="number" required)
        .col-1-3    
            +form-underlined("Durée (mois)")
                input(type="number" required)
        .col-1-3    
            +form-underlined("Nb hres/mois")
                input(type="number" required)
        .col-1-3    
            +form-underlined("Date de début")
                input(type="date" required)
        .col-1-3    
            +form-underlined("Date de fin")
                input(type="date" required)
        include module-submit
        
        h2.col-1 Validation du CIF
        .col-1-2
            +form-underlined("Employeur")
            select
                option(value="value1")
                option(value="value2") En cours
                option(value="value3") Accept&#233;e
                option(value="value4") Refus&#233;e
                option(value="value5") Report&#233;e
        .col-1-2    
            +form-underlined("Date de validation")
                input(type="date" required)
        .col-1
            +form-underlined("Motif de refus ou de report")
                input(type="text" required)
        .col-1-2
            +form-underlined("FONGECIF")
            select(name="visaFongecif")
                option(value="value1")
                option(value="value2") En cours
                option(value="value3") Accept&#233;e
                option(value="value4") Refus&#233;e
                option(value="value5") Report&#233;e
        .col-1-2    
            +form-underlined("Date de validation")
                input(type="date" required)
        .col-1
            +form-underlined("Motif de refus ou de report")
                input(type="text" required)
        include module-submit
    .pop-in-container.grid
        h2.col-1 Prise en charge du FONGECIF
        .col-1-2
            +form-underlined("Dur&#233;e de la formation th&#233;orique")
                input(type="number" required) 
        col-1-2
            +form-underlined("Reprise du poste pendant la formation")
            select
                option(value="value1")
                option(value="value2") Oui
                option(value="value3") Non
        .col-1
            +form-underlined("Prise en charge salariale")
                input(type="number" required)
        include module-submit
        
    
        h2.col-1 Suivi du financement
        div
            table
                tr
                    th
                        | Mois
                    th
                        |  Ann&#233;e
                    th
                        |  Nb hres pr&#233;sence
                    th
                        |  Salaire brut vers&#233;
                    th
                        |  Montant encaiss&#233; Fongecif
                    th
                        |  Date de paiement
                tr
                    td
                        | Mois x
                    td
                        | Ann&#233;e x
                    td
                        input(type="number")
                        p hrs
                    td
                        input(type="number")
                        p &#8364;
                    td
                        input(type="number")
                        p &#8364;
                    td
                        input(type="text")
        include module-submit
