.training-select
    form
        input(type="checkbox"  name="CPF"  checked="checked")
        p CPF
        input(type="checkbox"  name="CPF"  checked="checked")
        p Employeur
        input(type="checkbox"  name="CPF"  checked="checked")
        p CIF

    form
        input.search-input(type='search'  name=''  placeholder='Rechercher')
        
    .submit-module
        button.btn.modal-opener(type="button"  data-modal-target="modal1") Créer une action

            
        
        
            