.training-select
    form
        input(type="checkbox"  name="CPF"  checked="checked")
        p CPF
        input(type="checkbox"  name="CPF"  checked="checked")
        p Employeur
        input(type="checkbox"  name="CPF"  checked="checked")
        p CIF
        input(type="date")
    form
        input.search-input(type='search'  name=''  placeholder='Rechercher (ex : sfr fi ou 3939 fc)')
        
    .submit-module
        button.btn.modal-opener(type="button"  data-modal-target="modal1") Créer une action

    