.table-container
    h2 
        | Nom de l'action
    ul.table-module
        li.table-header
            .icone
            .icone
            .icone.last
            div
                | Nom
            div
                | Prénom
            .column-short
                | Avis Empl.
            .column-short
                | Avis Fongecif
            // Afficher une barre de progression
            .icone
            .column-short
                | N° Session    
        li.table-body
            .icone
                button.button--pen(type="button"  title="Modifier")
            .icone
                button.button--bin(type="button"  title="Supprimer")
            //Empêcher l'archivage si la progression n'est pas à 100%
            .icone.last
                button.button--archive(type="button"  title="Archiver")
            div
                a Dupont
            div
                a Martin
            div
                a OUI
            div
                a OUI
            div
                a
            div
                a 00001