h2.module-title Suivi du budget formation

.module-card
	- var max = 700
	- var height = 135
	- var stats = []
	- stats.push({name: "CIF", value: 150, klass: "color-green"})
	- stats.push({name: "Plan de f°", value: 250,  klass: "color-red"})
	- stats.push({name: "CPF", value: 600,  klass: "color-yellow"})
	- stats.push({name: "profess°", value: 200,  klass: "color-blue"})
	- stats.push({name: "FPSPP", value: 500,  klass: "color-purple"})

	.graph-vbars
		.graph-vbars-legend
			ul
				each stat in stats
					li(class=stat.klass)= stat.name
		each stat in stats
			.graph-vbars-col(class=stat.klass)
				span(style="height:" + stat.value/max*100 + "%")

	p 
		b 12620
			span.fontSmall € 
		| Coût direct