h4 Saisie du r&#233;alis&#233
    .table.listed(affix, affix-offset=100)
        .table-head.affix-target
            .table-cell.w-100 Nom
            .table-cell.w-100 Pr&#233;nom
            .table-cell.w-70 Contrat
            .table-cell.w-100 Nbres hres r&#233;elles
            .table-cell.w-90 Entr&#233;e en prod
        ul.table-group
            li.table-row(ng-repeat="action in actions")
                .table-cell.w-100 
                .table-cell.w-100 
                .table-cell.w-70 
                .table-cell.w-100 
                .table-cell.w-90
                    input(type="checkbox", name="", checked="false")