form.grid.pad
    h4.col-3-4 Imputations des co&#251;ts
    .submit-module.col-1-4
        button.btn(type="button") Voir le suivi de budget
    .col-1-2
        +form-underlined("Coût salarial")    
            input(type="number" required)
    .col-1-2
        +form-underlined("Plan de formation")        
            input(type="number" required)
    .col-1-2
        +form-underlined("Coût Pédagogique")     
            input(type="number" required)
    .col-1-2
        +form-underlined("Coût direct")        
            input(type="number" required)
    .col-1-2
        +form-underlined("Frais annexes")       
            input(type="number" required)
    .col-1-2
        +form-underlined("Professionalisation")        
            input(type="number" required)
    .col-1-2
        +form-underlined("Coût global")       
            input(type="number" required)
    .col-1-2
        +form-underlined("CPF")        
            input(type="number" required)
    .col-1-2
        +form-underlined("Coût interim")      
            input(type="number" required)
    .col-1-2
        +form-underlined("FPSPP")        
            input(type="number" required)
    .col-1-2
        +form-underlined("Autres modes de financement")       
            input(type="number" required)
    .col-1
        +form-underlined("Imputation totale")        
            input(type="text" required)
include module-submit