form.grid
    h2.col-1-2 Imputations des co&#251;ts
    .submit-module.col-1-2
        button.btn(type="button") Voir le suivi de budget
    .col-1-2    
        .group      
            input(type="number" required)
            span.bar
            label Co&#251;t salariale
        .group      
            input(type="number" required)
            span.bar
            label Co&#251;t p&#233;dagogique
        .group      
            input(type="number" required)
            span.bar
            label Frais annexes
        .group      
            input(type="number" required)
            span.bar
            label Co&#251;t global
        .group      
            input(type="number" required)
            span.bar
            label Co&#251;t int&#233;rim
        
        .group      
            input(type="number" required)
            span.bar
            label Frais annexes
    .col-1-2
        .group      
            input(type="number" required)
            span.bar
            label Plan de formation
        .group      
            input(type="number" required)
            span.bar
            label Co&#251;t direct
        .group      
            input(type="number" required)
            span.bar
            label Professionalisation
        .group      
            input(type="number" required)
            span.bar
            label CPF
        .group      
            input(type="number" required)
            span.bar
            label FPSPP
        .group      
            input(type="number" required)
            span.bar
            label Autres modes de financement
        .group      
            input(type="text" required)
            span.bar
            label Imputation totale
    include module-submit