.inside-module-block
    h2 Saisie du financement
    table.table-module
        tr
            td
            td Plan
            td Pro
            td CPF
            td FPSPP
            td Autres financements
        tr
            th Mtt demande prise en charge
            td
                input(type="number", name="", placeholder="0.00")
                p &#8364;
            td
                input(type="number", name="", placeholder="0.00")
                p &#8364;
            td
                input(type="number", name="", placeholder="0.00")
                p &#8364;
            td
                input(type="number", name="", placeholder="0.00")
                p &#8364;
            td
                input(type="number", name="", placeholder="0.00")
                p &#8364;
            td
        tr
            th Mtt avancé par b2s
            td
                input(type="number", name="", placeholder="0.00")
                p &#8364;
            td
                input(type="number", name="", placeholder="0.00")
                p &#8364;
            td
                input(type="number", name="", placeholder="0.00")
                p &#8364;
            td
                input(type="number", name="", placeholder="0.00")
                p &#8364;
            td
                input(type="number", name="", placeholder="0.00")
                p &#8364;
        tr
            th Mtt facturé par l'organisme
            td
                input(type="number", name="", placeholder="0.00")
                p &#8364;
            td
                input(type="number", name="", placeholder="0.00")
                p &#8364;
            td
                input(type="number", name="", placeholder="0.00")
                p &#8364;
            td
                input(type="number", name="", placeholder="0.00")
                p &#8364;
            td
                input(type="number", name="", placeholder="0.00")
                p &#8364;
        tr
            th Mtt encaissé par b2s
            td
                input(type="number", name="", placeholder="0.00")
                p &#8364;
            td
                input(type="number", name="", placeholder="0.00")
                p &#8364;
            td
                input(type="number", name="", placeholder="0.00")
                p &#8364;
            td
                input(type="number", name="", placeholder="0.00")
                p &#8364;
            td
                input(type="number", name="", placeholder="0.00")
                p &#8364;
        tr
            th Solde
            td
                input(type="number", name="", placeholder="0.00")
                p &#8364;
            td
                input(type="number", name="", placeholder="0.00")
                p &#8364;
            td
                input(type="number", name="", placeholder="0.00")
                p &#8364;
            td
                input(type="number", name="", placeholder="0.00")
                p &#8364;
            td
                input(type="number", name="", placeholder="0.00")
                p &#8364;
    include module-submit