.form-actions
  button.btn(type="button",
             ng-click="cancel()",
             ng-disabled="!modelChanged") Annuler
  button.btn(type="submit",
             ng-disabled="!modelChanged") Valider
