h2 Reportings
form
    .group      
            input(type="text" required)
            span.bar
            label Date de début
    .group      
            input(type="text" required)
            span.bar
            label Date de fin
    select.reporting-list
            option(value='value1')
            option(value='value2')
    .module--cta-container
        button.btn Ok
