h2.module-title Liste des sessions FI_FTN_EA
.module-card
    .module-header(affix, affix-offset=48)
        .affix-target
            .pull-right
                button.btn.modal-opener(type="button",
                    ng-click="App.showModal('accompagnement-creation')") Créer une action

        .searchBox
            +form-underlined()
                input.search-input(type="search",
                    ng-model="search",
                    ng-change="filter($event)"
                    required,
                    placeholder="rechercher")
                button(type="button").btnIcon.search
        
    .table.listed(affix, affix-offset=100)
        .table-head.affix-target
            .table-cell.inline.actions.w-90
            .table-cell.col-1-2
                | Date de début
            .table-cell.col-1-2
                | Auteur
            .table-cell.w-100
                | Durée
            .table-cell.w-100
                | N° Session
    ul.table-group
        li.table-row(ng-repeat="action in actions")
            .table-cell.inline.actions.w-90
                button.btnIcon.modify(type="button", title="Modifier")
                button.btnIcon.delete(type="button", title="Supprimer")
                button.btnIcon.archive(type="button", title="Archiver")
            .table-cell.col-1-2
            .table-cell.col-1-2
            .table-cell.w-100 
            .table-cell.w-100