h2.module-title Générer un reporting
.module-card
    form.grid.pad
        .col-1
            +form-underlined("Type")
                select.reporting-list(ng-options="option.label for option in reporting.options" ng-model="reporting.selected")
        
        .col-1-2
            +form-underlined("Du")
                - var opt = {}
                - opt.ngModel = "reporting.from.value"
                - opt.isOpen = "reporting.from.opened"
                - opt.maxDate = "reporting.to.value"
                - opt.required = "true"
                - opt.name = "from"
                +datePicker(opt)
                
        .col-1-2
            +form-underlined("au")
                - var opt = {}
                - opt.ngModel = "reporting.to.value"
                - opt.isOpen = "reporting.to.opened"
                - opt.maxDate = "reporting.to.maxDate"
                - opt.minDate = "reporting.from.value"
                - opt.required = "true"
                - opt.name = "to"
                +datePicker(opt)
        
        
        .module-cta
            button.btn Générer
