h2.module-title Générer un reporting
.module-card(ng-controller="reportingController")
    form.grid.pad(name="reportingForm")
        .col-1
            +form-underlined("Type")
                select.reporting-list(ng-options="option.label for option in options" 
                    ng-model="model.type",
                    required="true")
        
        .col-1-2
            +form-underlined("Du")
                - var opt = {}
                - opt.ngModel = "model.from"
                - opt.isOpen = "openDatepickers.from"
                - opt.maxDate = "model.to"
                - opt.required = "true"
                - opt.name = "from"
                - opt.klass = "right"
                +datePicker(opt)
                
        .col-1-2
            +form-underlined("au")
                - var opt = {}
                - opt.ngModel = "model.to"
                - opt.isOpen = "openDatepickers.to"
                - opt.minDate = "model.from"
                - opt.required = "true"
                - opt.name = "to"
                - opt.klass = "right"
                +datePicker(opt)
        
        .module-cta
            button.btn(type="button", ng-click="submit()") Générer
