h2.module-title Générer un reporting
.module-card
    form.grid.pad
        .col-1
            - var options = ['Nombre de formations continues', 'Nombre de sessions ouvertes', 'Budget dépensé en formation']
            +form-underlined("Type")
                select.reporting-list
                    each opt in options
                        option(value=opt)= opt
        
        .col-1-2
            +form-underlined("Du")
                input(type="text" required)
                
        .col-1-2
            +form-underlined("au")
                input(type="text" required)
        
        
        .module-cta
            button.btn Générer
