h2.module-title Suivi du budget formation

.module-card(ng-controller="suiviBudgetController")

	.graph-vbars
		.graph-vbars-legend
			ul
				li(ng-repeat="graph in graphs")
					span.graph-vbars-legend-color(class="bgColor-{{graph.color}}")
					span {{graph.label}}

		.graph-vbars-cols
			.graph-vbars-colGroup(ng-repeat="graph in graphs", style="width: {{colWidth}}%")
				.graph-vbars-col(style="height:{{graph.height}}%", class="bgColor-{{graph.color}}")
					.graph-vbars-label(class="bgColor-{{graph.color}}")
						span reste {{graph.value}} €

	p.module-suiviBudget-coutDirect(ng-if="coutDirect")
		b {{coutDirect}}
			span.fontSmall € 
		| Coût direct