include ../mixins/main

.module-card

  .actionDetails

    form(name="accompagnementsModification"
      form,
      ng-submit="submit()")

      .module-header
        p.actionDetails-id Action n°{{model.action}} - {{model.auteur}}
        h2.actionDetails-title {{model.intitule}}

      .grid.pad

        .col-1
          +form-underlined("Intitulé")
            - opt = {}
            - opt.required = true
            - opt.ngModel = "model.intitule"
            +input(opt)

        .col-1
          +form-underlined("Client")
            - opt = {}
            - opt.ngModel = "model.client"
            +input(opt)

        .col-1-2
          +form-underlined("Activité")
            - opt = {}
            - opt.ngModel = "model.activite"
            +input(opt)

        .col-1-2
          +form-underlined("Produit")
            - opt = {}
            - opt.ngModel = "model.produit"
            +input(opt)

        .col-1
          +form-underlined("Durée (heures)")
            - opt = {}
            - opt.ngModel = "model.duree"
            - opt.type = "number"
            - opt.min = "0"
            - opt.required = true
            +input(opt)

        .col-1-2
          +form-underlined("Date de début")
            - var opt = {}
            - opt.ngModel = "model.from"
            - opt.isOpen = "state.openDatepickers.from"
            - opt.maxDate = "model.to"
            - opt.required = "true"
            - opt.name = "from"
            +datePicker(opt)

        .col-1-2
          +form-underlined("Date de fin")
            - var opt = {}
            - opt.ngModel = "model.to"
            - opt.isOpen = "state.openDatepickers.to"
            - opt.minDate = "model.from"
            - opt.required = "true"
            - opt.name = "to"
            +datePicker(opt)

      .module-footer
        include ../includes/modules/module-submit
