include ../mixins/main

.grid.pad

  .col-1
    .module-card

      .actionDetails

        .module-header(affix, affix-offset=48)
          .affix-target
            p.actionDetails-id Action n°{{accompagnement.action}} - {{accompagnement.auteur}}
            h2 {{accompagnement.intitule}}

        ul.actionDetails-list
          li(ng-repeat="item in accompagnement.list")
            span.actionDetails-label {{item.label}}
            span.actionDetails-value {{item.value}}

        .module-footer.form-actions
          a(ng-href="#/accompagnements").btn Retour
          button(ng-click="modifier()").btn Modifier

  .col-1-2
    .module-card
      .module-header
        h2 Participants

      user-list(users="model.participants", ng-if="showUsers")

  .col-1-2
    .module-card
      .module-header
        h2 Formateurs

      user-list(users="model.formateurs", ng-if="showUsers")


