include ../mixins/main

include ../includes/modules/module-filter-tools
include ../includes/modules/module-listing-accompagnements
include ../includes/modules/module-renseignements-accompagnements
.grid.inside-module-block.pop-in-container
    include ../includes/modules/module-selection-trainees