include ../mixins/main

.grid.pad

  .col-1
    .module-card

      .details

        .module-header(affix, affix-offset=48)
          .affix-target
            p.details-id \#{{accompagnement.action}} - {{accompagnement.auteur}}
            h2 {{accompagnement.intitule}}
            a(ng-href="#/accompagnements/{{accompagnement.id}}/modifier").module-header-action.btnIcon.circle.big.modify

        ul.details-list
          li(ng-repeat="item in accompagnement.list")
            span.details-label {{item.label}}
            span.details-value {{item.value}}

  .col-1-2
    .module-card
      .module-header
        h2 Participants

      user-list(users="model.participants", ng-if="showUsers")

  .col-1-2
    .module-card
      .module-header
        h2 Formateurs

      user-list(users="model.formateurs", ng-if="showUsers")

  .col-1
    .module-card
      .module-header
        h2 Coût de l'accompagnement
      .grid
        .col-1-2(ng-if="accompagnement.cout")
          .accompagnement-cout
            span.accompagnement-cout-label Coût salarial
            span.accompagnement-cout-number {{accompagnement.cout.salarial}}€
        .col-1-2(ng-if="accompagnement.cout")
          .accompagnement-cout
            span.accompagnement-cout-label Coût pédagogique
            span.accompagnement-cout-number {{accompagnement.cout.pedagogique}}€




