include ../mixins/main

include ../mixins/main

.module-card
  .module-header(affix, affix-offset=48)
    .affix-target
      .searchBox
        +form-underlined()
          input.search-input(type="search",
            ng-model="table.filters.search",
            required,
            placeholder="rechercher")
        button(type="button").btnIcon.search

      button.filters-toggler(type="button") filtrer

      .filters
        .filter(ng-repeat="filter in filters")
          - opt = {}
          - opt.label = "{{filter.value}}"
          - opt.ngModel = "table.filters.type[filter.value]"
          - value = "filter.value"
          +custom-checkbox(opt)

  div(affix, affix-offset=96)
    .table.listed(table="table.config",
      table-filters="table.filters")

//-
  include ../includes/modules/module-filter-tools
  include ../includes/modules/module-listing-action
  include ../includes/modules/module-listing-session-employeur
  include ../includes/modules/module-listing-session-cpf
  include ../includes/modules/module-listing-session-cif
