include ../mixins/main

.module-card
  .module-header(affix, affix-offset=48)
    .affix-target
      .searchBox
        +form-underlined()
          input.search-input(type="search",
            ng-model="table.filters.search",
            required,
            placeholder="rechercher")
        button(type="button").btnIcon.search

      filters(filters="table.filters.filters",
        settings="filtersSettings")

  div(affix, affix-offset=96)
    .table.listed(table="table.config",
      table-filters="table.filters")
