include ../mixins/main

.cost

  h3 Coût: {{cout}}€

  .grid.pad

    .col-1-4: label
      span.label Salarial
      - opt = {}
      - opt.required = true
      - opt.type = "number"
      - opt.min = 0
      - opt.disabled = true
      - opt.ngModel = "model.salarial"
      +input(opt)

    .col-1-4: label
      span.label Pédagogique
      - opt = {}
      - opt.required = true
      - opt.type = "number"
      - opt.min = 0
      - opt.disabled = true
      - opt.ngModel = "model.pedagogique"
      +input(opt)

    .col-1-4: label
      span.label Intérim
      - opt = {}
      - opt.required = true
      - opt.type = "number"
      - opt.min = 0
      - opt.disabled = true
      - opt.ngModel = "model.interim"
      +input(opt)

    .col-1-4: label
      span.label Frais annexes
      - opt = {}
      - opt.required = true
      - opt.type = "number"
      - opt.min = 0
      - opt.ngModel = "model.annexe"
      +input(opt)


  h3 Prise en charge: {{priseEnCharge}}€

  h4 Interne

  label
    span.label Coût direct
    - opt = {}
    - opt.required = true
    - opt.type = "number"
    - opt.min = 0
    - opt.ngModel = "model.direct"
    +input(opt)

  h4 Externe

  .grid.pad

    .col-1-3: label
      span.label Plan de formation
      - opt = {}
      - opt.required = true
      - opt.type = "number"
      - opt.min = 0
      - opt.ngModel = "model.planFormation"
      +input(opt)

    .col-1-3: label
      span.label Professionnalisation
      - opt = {}
      - opt.required = true
      - opt.type = "number"
      - opt.min = 0
      - opt.ngModel = "model.professionnalisation"
      +input(opt)

    .col-1-3: label
      span.label CPF
      - opt = {}
      - opt.required = true
      - opt.type = "number"
      - opt.min = 0
      - opt.ngModel = "model.CPF"
      +input(opt)

    .col-1-3: label
      span.label FPSPP
      - opt = {}
      - opt.required = true
      - opt.type = "number"
      - opt.min = 0
      - opt.ngModel = "model.FPSPP"
      +input(opt)

    .col-1-3: label
      span.label CIF
      - opt = {}
      - opt.required = true
      - opt.type = "number"
      - opt.min = 0
      - opt.ngModel = "model.CIF"
      +input(opt)

    .col-1-3: label
      span.label Autre
      - opt = {}
      - opt.required = true
      - opt.type = "number"
      - opt.min = 0
      - opt.ngModel = "model.autre"
      +input(opt)

  p.cost-warning(ng-if="reste < 0") Attention, la somme prise en charge est supérieure au coût de la session.

  .cost-reste(ng-if="reste > 0")
    p Somme restante à imputer:
      span.cost-reste-price {{reste}}€
