include ../mixins/main

.grid.pad
  .col-1-2
    h3 Coût

    label
      span.label Salarial
      - opt = {}
      - opt.required = true
      - opt.ngModel = "model.cout.salarial"
      +input(opt)

    span.label Pédagogique
      - opt = {}
      - opt.required = true
      - opt.ngModel = "model.cout.pedagogique"
      +input(opt)

    span.label Intérim
      - opt = {}
      - opt.required = true
      - opt.ngModel = "model.cout.interim"
      +input(opt)

    span.label Frais annexes
      - opt = {}
      - opt.required = true
      - opt.ngModel = "model.cout.annexe"
      +input(opt)

  .col-1-2
    h3 Prise en charge

    h4 Interne

    span.label Coût direct
      - opt = {}
      - opt.required = true
      - opt.ngModel = "model.cout.direct"
      +input(opt)

    h4 Externe

    span.label Plan de formation
      - opt = {}
      - opt.required = true
      - opt.ngModel = "model.cout.planFormation"
      +input(opt)

    span.label Professionnalisation
      - opt = {}
      - opt.required = true
      - opt.ngModel = "model.cout.professionnalisation"
      +input(opt)

    span.label CPF
      - opt = {}
      - opt.required = true
      - opt.ngModel = "model.cout.CPF"
      +input(opt)

    span.label FPSPP
      - opt = {}
      - opt.required = true
      - opt.ngModel = "model.cout.FPSPP"
      +input(opt)

    span.label CIF
      - opt = {}
      - opt.required = true
      - opt.ngModel = "model.cout.CIF"
      +input(opt)

    span.label Autre
      - opt = {}
      - opt.required = true
      - opt.ngModel = "model.cout.autre"
      +input(opt)
