include ../mixins/main

button.filters-toggler.btn(type="button",
  ng-click="toggle()")
  | filtres
  span(ng-if="count") ({{count}})

.filters
  .filters-inner
    .filters-group(ng-if="settings.dispositif")
      h3.filters-title Type
      .filter(ng-repeat="filter in constant.dispositif")
        - opt = {}
        - opt.label = "{{filter.label}}"
        - opt.ngModel = "model.dispositif[filter.value]"
        +custom-checkbox(opt)

    .filters-group(ng-if="settings.archive")
      h3.filters-title Archives
      .filter
        - opt = {}
        - opt.label = "afficher"
        - opt.ngModel = "model.archive"
        +custom-checkbox(opt)

    .filters-group(ng-if="settings.entites")
      h3.filters-title Entités
      .filter(ng-repeat="filter in settings.entites")
        - opt = {}
        - opt.label = "{{filter}}"
        - opt.ngModel = "model.entites[filter]"
        +custom-checkbox(opt)
