include ../mixins/main

.grid.pad

  .col-1
    .module-card

      .actionDetails

        .module-header(affix, affix-offset=48)
          .affix-target
            p.actionDetails-id \#{{formation.action}} - {{formation.auteur}}
            h2 {{formation.intitule}}
            a(ng-href="#/formations/{{formation.id}}/modifier").module-header-action.btnIcon.circle.big.modify

        ul.actionDetails-list
          li(ng-repeat="item in formation.list")
            span.actionDetails-label {{item.label}}
            span.actionDetails-value {{item.value}}

  .col-1-2(ng-if="hasUsers")
    .module-card
      .module-header
        h2 Stagiaires

      user-list(users="participants.stagiaires")

  .col-1-2(ng-if="hasUsers")
    .module-card
      .module-header
        h2 Formateurs

      user-list(users="participants.formateurs")

  .col-1(ng-if="showCost")
    .module-card
      .module-header
        h2 Coût de l'accompagnement
      accompagnement-cout(ng-if="formation.cout",
        model="formation.cout",
        population="participants")
      .grid
        .col-1-2(ng-if="formation.cout")
          .accompagnement-cout
            span.accompagnement-cout-label Coût salarial
            span.accompagnement-cout-number {{formation.cout.salarial}}€
        .col-1-2(ng-if="formation.cout")
          .accompagnement-cout
            span.accompagnement-cout-label Coût pédagogique
            span.accompagnement-cout-number {{formation.cout.pedagogique}}€
