include ../mixins/main

h2.module-title Modification d'une action de formation

.module-card

  form(name="formationsModification",
    data-action="update",
    form,
    ng-submit="submit($event)",
    ng-if="initialized")

    .module-header
      p.details-id \#{{model.action}} - {{model.auteur}} - {{model.dispositif}}
      h2 {{model.intitule}}

    .grid.pad

      .col-1
        +form-underlined("Entités")
          - opt = {}
          - opt.required = true
          - opt.ngModel = "model.entites"
          - opt.ngOptions = "entites for entites in opts.entites"
          +select(opt)

    .grid.pad(ng-if="model.dispositif === 'employeur' || model.dispositif === 'accompagnement'")

      .col-1-3
        +form-underlined("Client")
          - opt = {}
          - opt.required = true
          - opt.ngModel = "model.client"
          +input(opt)

      .col-1-3
        +form-underlined("Activité")
          - opt = {}
          - opt.required = true
          - opt.ngModel = "model.activite"
          +input(opt)

      .col-1-3
        +form-underlined("Produit")
          - opt = {}
          - opt.required = true
          - opt.ngModel = "model.produit"
          +input(opt)

    .grid.pad(ng-if="model.dispositif !== 'accompagnement'")

      .col-1-2
        +form-underlined("Organisme")
          - opt = {}
          - opt.required = true
          - opt.ngDisabled = "model.dispositif === 'CPF' || model.dispositif === 'CIF'"
          - opt.ngModel = "model.organisme"
          - opt.ngOptions = "organisme.value as organisme.label for organisme in opts.organisme"
          +select(opt)

      .col-1-2(ng-if="model.organisme")
        +form-underlined("Nom de l'organisme")
          - opt = {}
          - opt.required = true
          - opt.ngModel = "model.nomOrganisme"
          +input(opt)

      .col-1
        +form-underlined("Validation")
          - opt = {}
          - opt.required = true
          - opt.ngModel = "model.validation"
          - opt.ngOptions = "validation.value as validation.label for validation in opts.validation"
          +select(opt)

      .col-1
        +form-underlined("Population")
          - opt = {}
          - opt.required = true
          - opt.ngModel = "model.population"
          +input(opt)

      .col-1
        +form-underlined("Objectif")
          - opt = {}
          - opt.required = true
          - opt.ngModel = "model.objectif"
          +input(opt)

      .col-1
        +form-underlined("Contenu")
          - opt = {}
          - opt.required = true
          - opt.ngModel = "model.contenu"
          +input(opt)

      .col-1
        +form-underlined("Pré-requis")
          - opt = {}
          - opt.required = true
          - opt.ngModel = "model.prerequis"
          +input(opt)

    .grid.pad(ng-if="model.dispositif === 'accompagnement'")

      .col-1
        +form-underlined("Durée")
          - opt = {}
          - opt.required = true
          - opt.ngModel = "model.duree"
          +input(opt)

      .col-1
        +form-underlined("Date de début")
          - opt = {}
          - opt.required = true
          - opt.ngModel = "model.dateDebut"
          +input(opt)

      .col-1
        +form-underlined("Date de fin")
          - opt = {}
          - opt.required = true
          - opt.ngModel = "model.dateFin"
          +input(opt)

    .module-footer
      include ../includes/modules/module-submit
