include ../mixins/main

h2.module-title Création d'une action de formation

.module-card
  form(name="formationsCreation",
    data-target="formations",
    data-action="insert",
    form,
    ng-submit="submit($event)")

    .grid.pad

      .col-3-4
        +form-underlined("Intitulé")
          - opt = {}
          - opt.required = true
          - opt.ngModel = "model.intitule"
          +input(opt)

      .col-1-4
        +form-underlined("Dispositif")
          - opt = {}
          - opt.required = true
          - opt.ngModel = "model.dispositif"
          - opt.ngOptions = "dispositif.id as dispositif.label for dispositif in opts.dispositif"
          +select(opt)

      .col-1
        +form-underlined("Entités")
          - opt = {}
          - opt.required = true
          - opt.ngModel = "model.entites"
          - opt.ngOptions = "entites for entites in opts.entites"
          +select(opt)

      .col-1(ng-if="model.dispositif === 'employeur'")

        .grid.pad

          .col-1-2
              +form-underlined("Client")
                - opt = {}
                - opt.required = true
                - opt.ngModel = "model.client"
                +input(opt)

            .col-1-2
              +form-underlined("Activité")
                - opt = {}
                - opt.required = true
                - opt.ngModel = "model.activite"
                +input(opt)

            .col-1-2
              +form-underlined("Produit")
                - opt = {}
                - opt.required = true
                - opt.ngModel = "model.produit"
                +input(opt)

            .col-1-2
              +form-underlined("Type")
                - opt = {}
                - opt.required = true
                - opt.ngModel = "model.type"
                +select(opt)

      .col-1-2
        +form-underlined("Organisme")
          - opt = {}
          - opt.required = true
          - opt.ngDisabled = "model.dispositif === 'CPF' || model.dispositif === 'CIF'"
          - opt.ngModel = "model.organisme"
          - opt.ngOptions = "organisme.value as organisme.label for organisme in opts.organisme"
          +select(opt)

      .col-1-2(ng-if="model.organisme")
        +form-underlined("Nom de l'organisme")
          - opt = {}
          - opt.required = true
          - opt.ngModel = "model.nomOrganisme"
          +input(opt)

      .col-1
        +form-underlined("Validation")
          - opt = {}
          - opt.required = true
          - opt.ngModel = "model.validation"
          - opt.ngOptions = "validation.value as validation.label for validation in opts.validation"
          +select(opt)

      .col-1
        +form-underlined("Population")
          - opt = {}
          - opt.required = true
          - opt.ngModel = "model.population"
          +input(opt)

      .col-1
        +form-underlined("Objectif")
          - opt = {}
          - opt.required = true
          - opt.ngModel = "model.objectif"
          +input(opt)

      .col-1
        +form-underlined("Contenu")
          - opt = {}
          - opt.required = true
          - opt.ngModel = "model.contenu"
          +input(opt)

      .col-1
        +form-underlined("Pré-requis")
          - opt = {}
          - opt.required = true
          - opt.ngModel = "model.prerequis"
          +input(opt)
      .col-1
        +form-underlined("Compétences associées")
          - opt = {}
          - opt.required = true
          - opt.ngModel = "model.competencesassociees"
          +select(opt)

    .module-footer
      include ../includes/modules/module-submit
