include ../mixins/main

.grid.pad
  .col-1-2
      include ../includes/modules/last-sessions
  .col-1-2
      include ../includes/modules/reportings
  .col-2-3
      include ../includes/modules/suivi-budget
  .col-1-3
      include ../includes/modules/indicateurs
  .col-1
      include ../includes/modules/documentation