extends ../layouts/modal.jade

block header
  h2 Création d'un utilisateur

block content

 div(ng-controller="accompagnementsCreationController")
    form.grid.pad(form="formConf", ng-action="test")
        .col-1-2
            +form-underlined("Nom")
                input(type="text" required)
        .col-1-2
            +form-underlined("Prénom")
                input(type="text" required)
        .col-1-2
            +form-underlined("Adresse Mail")
                input(type="email" required)
        .col-1-2
            +form-underlined("Mot de Passse")
                input(type="password" required)
        .col-1-2
            +form-underlined("Entité")
                select(name='type')
                    option(value='value1')
                    option(value='value2') B2S AIX
                    option(value='value3') B2S CHALON SAS
                    option(value='value3') B2S DEVELOPPEMENT SAS
                    option(value='value3') B2S LE MANS SAS
                    option(value='value3') B2S PARIS SASU
                    option(value='value3') B2S ROANNE SAS
                    option(value='value3') B2S SAS
                    option(value='value3') B2S STRASBOURG SAS
                    option(value='value3') B2S VALENCIENNES SAS
                    option(value='value3') SYMPHONING SAS
                    option(value='value3') SYNOPSYA SAS
        .col-1-2
            +form-underlined("Services")
                select(name='type')
                    option(value='value1')
                    option(value='value2') Ressources Humaines
                    option(value='value3') Qualité Formation
                    option(value='value4') Direction
                    option(value='value5') Autres fonctions
        .col-1
            +form-underlined("Droits d'accès")
                select(name='type')
                    option(value='value1')
                    option(value='value2') Standard
                    option(value='value3') Administrateur

      include ../includes/modules/module-submit