extends ../layouts/modal.jade

block header
  h2 Quel type d'action souhaitez-vous créer ?
  
block content
  .formationCreationList.grid.pad
    .col-1-2
      a(ng-href="#/creation") 
        span Employeur / CIF / CPF  
    .col-1-2
      a(ng-href="#/creation/accompagnement") 
        span Accompagnement