include ../mixins/main

.grid.pad

  .col-1
    .module-card

      .details

        .module-header(affix, affix-offset=48)
          .affix-target
            p.details-id \#{{session.session}} - {{session.auteur}}
            h2 {{session.intitule}}
            a(ng-href="#/sessions/{{session.id}}/modifier"
              ng-if="!session.archive").module-header-action.btnIcon.circle.big.modify
            button(ng-if="session.archive",
              ng-click="unarchive()").module-header-action.btnIcon.circle.big.desarchiver

        ul.details-list
          +details-list("Action", "session.action")
          +details-list("Pioritaire", "session.actionPrioritaire")
          +details-list("Activité", "session.activite")
          +details-list("Catégorie", "session.categorie")
          +details-list("Client", "session.client")
          +details-list("Durée", "session.duree")
          +details-list("Entite", "session.entite")
          +details-list("Date de début", "session.from")
          +details-list("Date de fin", "session.to")
          +details-list("Horaire souhaité", "session.horaireSouhaite")
          +details-list("Matricule", "session.matricule")
          +details-list("Nature", "session.nature")
          +details-list("Produit", "session.produit")
          +details-list("Organisme", "session.nomOrganisme", "session.organisme && session.nomOrganisme")
          +details-list("Validation", "session.validation")

  .col-1-2(ng-if="hasUsers")
    .module-card
      .module-header
        h2 Stagiaires

      user-list(users="participants.stagiaires", frozen="session.archive")

  .col-1-2(ng-if="hasUsers")
    .module-card
      .module-header
        h2 Formateurs

      user-list(users="participants.formateurs", frozen="session.archive")

  .col-1
    .module-card
      .module-header
        h2 Coût de l'accompagnement
