include ../mixins/main

.grid.pad

  .col-1
    .module-card

      .details

        .module-header(affix, affix-offset=48)
          .affix-target
            p.details-id
              | \#{{session.session}} -&nbsp;
              a(ng-href="#/utilisateurs/{{session.auteurId}}") {{session.auteurNom}}
            h2 {{session.intitule}}
            a(ng-href="#/sessions/{{session.id}}/modifier"
              ng-if="!session.archive").module-header-action.btnIcon.circle.big.modify
            button(ng-if="session.archive",
              ng-click="unarchive()").module-header-action.btnIcon.circle.big.desarchiver

        ul.details-list
          +details-item("Action")
            a(ng-href="#/formations/{{session.action}}") {{session.action}}

          +details-item("Activité", "session.activite") {{session.activite}}

          +details-item("Catégorie") {{session.categorie}}

          +details-item("Client", "session.client") {{session.client}}

          +details-item("Date de création") {{session.dateCreation}}
          +details-item("Date de début") {{session.dateDebut}}
          +details-item("Date de fin") {{session.dateFin}}

          +details-item("Devis") {{session.devis}}
          +details-item("Duree") {{session.duree}}
          +details-item("Entité") {{session.entite}}

          +details-item("Horaire souhaité") {{session.horaireSouhaite}}

          +details-item("Nature") {{session.nature}}

          +details-item("Organisme", "session.organisme && session.nomOrganisme") {{session.nomOrganisme}}
          +details-item("Produit", "session.produit") {{session.produit}}
          +details-item("Référence") {{session.reference}}

          +details-item("Avis employeur", "session.avisEmployeur") {{session.avisEmployeur}}
          +details-item("Date avis employeur", "session.dateAvisEmployeur") {{session.dateAvisEmployeur}}
          +details-item("Date demande", "session.dateDemande") {{session.dateDemande}}
          +details-item("Motif employeur", "session.motifEmployeur") {{session.motifEmployeur}}
          +details-item("Temps", "session.temps") {{session.temps}}
          +details-item("Validation", "session.validation") {{session.validation}}
          +details-item("Validation commentaire", "session.validationComment") {{session.validationComment}}

          +details-item("Avis Fongecif", "session.avisFongecif") {{session.avisFongecif}}
          +details-item("Date avis Fongecif", "session.dateAvisFongecifr") {{session.dateAvisFongecifr}}
          +details-item("Date butoir", "session.dateButoir") {{session.dateButoir}}
          +details-item("Motif Fongecif", "session.motifFongecif") {{session.motifFongecif}}
          +details-item("Montant de prise en charge sur salaire", "session.priseChargeSalaire") {{session.priseChargeSalaire}}
          +details-item("Repriste de poste", "session.reprisePoste") {{session.reprisePoste}}

  .col-1-2(ng-if="hasUsers")
    .module-card
      .module-header
        h2 Stagiaires

      user-list(users="participants.stagiaires", frozen="session.archive")

  .col-1-2(ng-if="hasUsers")
    .module-card
      .module-header
        h2 Formateurs

      user-list(users="participants.formateurs", frozen="session.archive")

  .col-1
    .module-card
      .module-header
        h2 Coût de l'accompagnement
