include ../mixins/main

include ../includes/modules/module-filter-tools
include ../includes/modules/module-listing-action
include ../includes/modules/module-listing-session-employeur
include ../includes/modules/module-listing-session-cpf
include ../includes/modules/module-listing-session-cif
include ../includes/modules/modal-action-creation
include ../includes/modules/modal-session-employeur-creation
include ../includes/modules/modal-session-cpf-creation
include ../includes/modules/modal-session-cif-creation
    