include ../mixins/main

.grid.pad

  .col-1
    .module-card

      .actionDetails

        .module-header(affix, affix-offset=48)
          .affix-target
            p.actionDetails-id \#{{userDetail.id}}
            h2 {{userDetail.prenom}} {{userDetail.nom}}
            a(ng-href="#/users/{{userDetail.id}}/modifier").module-header-action.btnIcon.circle.big.modify

        ul.actionDetails-list
          li(ng-repeat="item in userDetail.list")
            span.actionDetails-label {{item.label}}
            span.actionDetails-value {{item.value}}

  .col-1-2(ng-if="userDetail.actions.participant")
      h2.module-title Participant sur
      ul.module-list
        li.module-list-item.session(ng-repeat="action in userDetail.actions.participant")
          a(ng-href="#/action/{{action.id}}").module-list-link
            span.module-list-icon
            span.module-list-label {{action.intitule}}

  .col-1-2
      h2.module-title Formateur sur
      ul.module-list
        li.module-list-item.session(ng-repeat="action in userDetail.actions.formateur")
          a(ng-href="#/actions/{{action.id}}").module-list-link
            span.module-list-icon
            span.module-list-label {{action.intitule}}




