include ../mixins/main

.module-card
  .module-header(affix, affix-offset=48)
    .affix-target
      .pull-right
        button.btn.modal-opener(type="button",
          ng-click="App.showModal('user-creation')") Créer un utilisateur

      .searchBox
        +form-underlined()
          input.search-input(type="search",
            ng-model="table.filters.search",
            required,
            placeholder="rechercher")
        button(type="button").btnIcon.search
  div(affix, affix-offset=100)
    .table.listed(table="table.config",
      table-filters="table.filters")
