include ../mixins/main

.grid.pad

  .col-1
    .module-card

      .details

        .module-header(affix, affix-offset=48)
          .affix-target
            p.details-id \#{{userDetail.id}}
            h2 {{userDetail.prenom}} {{userDetail.nom}}
            a(ng-href="#/utilisateurs/{{userDetail.id}}/modifier").module-header-action.btnIcon.circle.big.modify

        ul.details-list
          +details-list("Adresse mail", "userDetail.mail")
          +details-list("Mot de passe", "userDetail.password")
          +details-list("Entités", "userDetail.entites")
          +details-list("Service", "userDetail.service")
          +details-list("Droits d'accès", "userDetail.permission")

  .col-1-2(ng-if="userDetail.actions.participant")
      h2.module-title Participant sur
      ul.module-list
        li.module-list-item.session(ng-repeat="action in userDetail.actions.participant")
          a(ng-href="#/actions/{{action.id}}").module-list-link
            span.module-list-icon
            span.module-list-label {{action.intitule}}

  .col-1-2
      h2.module-title Formateur sur
      ul.module-list
        li.module-list-item.session(ng-repeat="action in userDetail.actions.formateur")
          a(ng-href="#/actions/{{action.id}}").module-list-link
            span.module-list-icon
            span.module-list-label {{action.intitule}}




