.aside-menu
    ul
        li
            a(href='#') Accueil
        li
            a(href='#') Formations
        li
            a(href='#') Accompagnements
        li
            a(href='#') Utilisateurs
        li
            a(href='#') Archives
            ul
                li
                    a(href='#') Sessions archivées
                li
                    a(href='#') Actions archivées

