header
    div
        h1
            | b2s 
            span Campus
        .left
            button.fa-bars
            button.fa-bell-o
        
        .right
            button.fa-cog
            button.fa-sign-out
            