header.header
    .header-inner
        h1.header-title
            a(href='/')
                | b2s 
                span Campus
        .header-menu
            button.header-menu-button.btnIcon.big.menu
            
            ul.header-menu-box
                li.header-menu-item
                    a.menuLink.header-menu-link.account(href="#") Mon compte
                li.header-menu-item
                    a.menuLink.header-menu-link.logout(href="#") Déconnexion
            