h2 Suivi des imputations
table
    tr
        th
        th Session en cours
        th Sessions r&#233;alis&#233;es
        th Obligation l&#233;gale
        th Solde
    tr
        th(title="Plan de formation") Plan
        td x
        td x
        td x
        td x
    tr
        th(title="Contrat ou période de professionalisation") Pro.
        td x
        td x
        td x
        td x
    tr
        th(title="Compte personnel de formation") CPF
        td x
        td x
        td x
        td x
    tr
        th(title="Congé individuel de formation") CIF
        td x
        td x
        td x
        td x
    tr
        th(title="Fonds paritaire de sécurisation des parcours professionnels") FPSPP
        td x
        td x
        td x
        td x
div.submit-module
    button.submit-button(type='button') FERMER