.pop-in-container
    // module de création
    form.grid
        h2.col-1 Cr&#233;ation d"une session Employeur "nom de l"action"
        .col-1-2
            select(name="Hrssouhaites")
                option(value="value1") --Nature--
                option(value="value2") Adaptation
                option(value="value3") D&#233;veloppement
                option(value="value4") VAE
                option(value="value5") Bilan de comp&#233;tences
                option(value="value6") Professionalisation
        .col-1-2.group      
            input(type="text" required)
            span.bar
            label Activit&#233;
        .col-1-2.group      
            input(type="text" required)
            span.bar
            label Client
        .col-1-2.group      
            input(type="text" required)
            span.bar
            label Produit
        .col-1-2.group      
            input(type="number" required)
            span.bar
            label Dur&#233;e (heures)
        .col-1-2    
            select(name="Hrssouhaites")
                option(value="value1") --Horaire souhait&#233;--
                option(value="value2") Horaire de travail
                option(value="value3") Horaire d&#233;cal&#233;
        .col-1-2.group      
            input(type="text" required)
            span.bar
            label Date de d&#233;but
        .col-1-2.group      
            input(type="text" required)
            span.bar
            label Date de fin
        include module-submit
.pop-in-container    
    .grid
        include module-selection-trainees
    // Saisie du réalisé
.pop-in-container
    .grid
        .table-container
            h2 Saisie du r&#233;alis&#233;
            ul.table-module
                li.table-header
                    .icone
                    div Nom
                    div Pr&#233;nom
                    div Statut
                    div Nbre hres r&#233;elles
                    div Entr&#233;e en prod
                li.table-body
                    .icone
                        button.button--user(href="#", title="ajouter")
                    div
                    div
                    div
                    div
                    div(title="Entré en pro")
                        input(type="checkbox", name="", checked="false")
        include module-submit
.pop-in-container    
    include module-saisie-couts
.pop-in-container    
    include module-tableau-imputations
.pop-in-container    
    include module-saisie-financement
