h2 Indicateurs
form
    input.text-indicator(type='text', name='text', value='xx/xx/xxxx')
div
    p
        span xxx
        |  formation(s) r&eacute;alis&eacute;es
    p
        span xxx
        |  salari&eacute;s form&eacute;s
    p
        span xxx
        |  heures de formation(s)
