.table-container.shadowl1
    h2 
        | Nom de l'action
    ul.table-module
        li.table-header
            .icone
            .icone
            .icone
            .icone.last
            div
                | text de début
            div
                | Auteur
            .column-short
                | Durée
            // Barre de progression à chaque ligne
            .icone
            .column-short
                | N° Session
        li.table-body
            .icone
                button.button--user-plus(type="button"  title="Ajouter des participants")
            .icone
                button.button--pen(type="button"  title="Modifier")
            .icone
                button.button--bin(type="button"  title="Supprimer")
            //Empêcher l'archivage si la progression n'est pas à 100%
            .icone.last
                button.button--archive(type="button"  title="Archiver")
            div
                a 01/01/2020
            div
                a A.Genthner
            div
                a 7 hrs
            div
                a 
            div
                a 0000003