.nav
  ul.nav-list
    li.nav-list-item
      a.nav-link(ng-click="App.goTo('home')") Accueil
    li.nav-list-item
      a.nav-link(ng-click="App.goTo('training')") Formations
    li.nav-list-item
      a.nav-link(ng-click="App.goTo('accompagnements')") Accompagnements
    li.nav-list-item
      a.nav-link(ng-click="App.goTo('users')") Utilisateurs
    li.nav-list-item
      a.nav-link(ng-click="App.goTo('archives')") Archives
      ul.nav-sublist
        li.nav-list-item
          a.nav-link(href='#') Sessions archivées
        li.nav-list-item
          a.nav-link(href='#') Actions archivées

