mixin navLink(route, name)
  a.nav-link(ng-click="App.goTo('" + route + "')",
    ng-class="{'active': page === '" + route + "' }")= name


.nav
  ul.nav-list
    li.nav-list-item
      +navLink('home', 'Accueil')
    li.nav-list-item
      +navLink('formations', 'Formations')
    li.nav-list-item
      +navLink('utilisateurs', 'Utilisateurs')
    li.nav-list-item
      +navLink('archives', 'Archives')
      ul.nav-sublist
        li.nav-list-item
          a.nav-link(href='#') Sessions archivées
        li.nav-list-item
          a.nav-link(href='#') Actions archivées

