.nav
  ul.nav-list
    li.nav-list-item
      a.nav-link(ng-href='#/home') Accueil
    li.nav-list-item
      a.nav-link(href='#/training') Formations
    li.nav-list-item
      a.nav-link(href='#/accompagnements') Accompagnements
    li.nav-list-item
      a.nav-link(href='#/users') Utilisateurs
    li.nav-list-item
      a.nav-link(href='#/archives') Archives
      ul.nav-sublist
        li.nav-list-item
          a.nav-link(href='#') Sessions archivées
        li.nav-list-item
          a.nav-link(href='#') Actions archivées

