.nav
  ul.nav-list
    li.nav-list-item
      a.nav-link(href='#') Accueil
    li.nav-list-item
      a.nav-link(href='#') Formations
    li.nav-list-item
      a.nav-link(href='#') Accompagnements
    li.nav-list-item
      a.nav-link(href='#') Utilisateurs
    li.nav-list-item
      a.nav-link(href='#') Archives
      ul.nav-sublist
        li.nav-list-item
          a.nav-link(href='#') Sessions archivées
        li.nav-list-item
          a.nav-link(href='#') Actions archivées

