.nav
  ul.nav-list
    li.nav-list-item
      a.nav-link(href='/') Accueil
    li.nav-list-item
      a.nav-link(href='/training.html') Formations
    li.nav-list-item
      a.nav-link(href='/accompagnements.html') Accompagnements
    li.nav-list-item
      a.nav-link(href='/users.html') Utilisateurs
    li.nav-list-item
      a.nav-link(href='/archives.html') Archives
      ul.nav-sublist
        li.nav-list-item
          a.nav-link(href='#') Sessions archivées
        li.nav-list-item
          a.nav-link(href='#') Actions archivées

