// build:vendor
script(src="scripts/bower_components/jquery/dist/jquery.js")
script(src="scripts/bower_components/moment/moment.js")
script(src="scripts/bower_components/angular/angular.js")
script(src="scripts/bower_components/angular-route/angular-route.js")
script(src="scripts/bower_components/angular-messages/angular-messages.js")
script(src="scripts/bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
script(src="scripts/bower_components/angular-tooltips/src/js/angular-tooltips.js")
script(src="scripts/bower_components/angular-modal-service/dst/angular-modal-service.js")
script(src="scripts/bower_components/angular-local-storage/dist/angular-local-storage.js")
// endbuild

// build:js
script(src="scripts/app/app.js")

script(src="scripts/app/filters/emptyInputClass.filter.js")

script(src="scripts/app/controllers/app.controller.js")
script(src="scripts/app/controllers/headerMenu.controller.js")
script(src="scripts/app/controllers/home.controller.js")
script(src="scripts/app/controllers/training.controller.js")
script(src="scripts/app/controllers/accompagnements.controller.js")
script(src="scripts/app/controllers/accompagnementsModifier.controller.js")
script(src="scripts/app/controllers/accompagnementsDetails.controller.js")
script(src="scripts/app/controllers/users.controller.js")
script(src="scripts/app/controllers/archives.controller.js")
script(src="scripts/app/controllers/modal.controller.js")
script(src="scripts/app/controllers/lastSessions.controller.js")
script(src="scripts/app/controllers/reporting.controller.js")
script(src="scripts/app/controllers/suiviBudget.controller.js")
script(src="scripts/app/controllers/indicateurs.controller.js")
script(src="scripts/app/controllers/documentation.controller.js")
script(src="scripts/app/controllers/notification.controller.js")

script(src="scripts/app/directives/affix.directive.js")
script(src="scripts/app/directives/textareaAutosize.directive.js")
script(src="scripts/app/directives/table.directive.js")
script(src="scripts/app/directives/form.directive.js")
script(src="scripts/app/directives/userList.directive.js")

script(src="scripts/app/services/downloader.service.js")
script(src="scripts/app/services/modal.service.js")
script(src="scripts/app/services/scrollEvent.service.js")
script(src="scripts/app/services/appState.service.js")
script(src="scripts/app/services/users.service.js")
script(src="scripts/app/services/history.service.js")
script(src="scripts/app/services/dbActions.service.js")
script(src="scripts/app/services/notification.service.js")
//endbuild

//build:tps
//endbuild
