// build:js
script(src="scripts/bower_components/jquery/dist/jquery.js")
script(src="scripts/bower_components/angular/angular.js")
script(src="scripts/bower_components/angular-route/angular-route.js")
script(src="scripts/bower_components/angular-messages/angular-messages.js")
script(src="scripts/bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
script(src="scripts/bower_components/angular-tooltips/src/js/angular-tooltips.js")
script(src="scripts/bower_components/angular-modal-service/dst/angular-modal-service.js")

script(src="scripts/app.js")
script(src="scripts/controllers/app.controller.js")
script(src="scripts/controllers/home.controller.js")
script(src="scripts/controllers/training.controller.js")
script(src="scripts/controllers/accompagnements.controller.js")
script(src="scripts/controllers/users.controller.js")
script(src="scripts/controllers/archives.controller.js")
script(src="scripts/controllers/modal.controller.js")
script(src="scripts/controllers/lastSessions.controller.js")
script(src="scripts/controllers/reporting.controller.js")
script(src="scripts/controllers/suiviBudget.controller.js")
script(src="scripts/controllers/indicateurs.controller.js")
script(src="scripts/controllers/documentation.controller.js")

script(src="scripts/directives/affix.directive.js")
script(src="scripts/directives/table.directive.js")

script(src="scripts/services/downloader.service.js")
script(src="scripts/services/modal.service.js")
// endbuild
