// build:js scripts/vendor-app.js
script(src="bower_components/jquery/dist/jquery.js")
// build

// build:js
script(src="scripts/utils.js")
script(src="scripts/app.js")
script(src="scripts/components/header-menu.js")
// endbuild
