extends layouts/main.jade

block content

    .page--container
        include includes/module-filter-tools
        include includes/module-listing-action
        include includes/module-listing-session-employeur
        include includes/module-listing-session-cpf
        include includes/module-listing-session-cif