extends layouts/main.jade

block content

  .grid--pad
      .col-1-2
        .block
          include includes/modules/module-last-sessions
      .col-1-2
        .block
          include includes/modules/module-suivi-budget-global
      .col-1-2
        .block
          include includes/modules/module-indicateurs
      .col-1-2
        .block
          include includes/modules/module-reportings
      .col-1
        .block
          include includes/modules/module-documentation


