extends layouts/head.jade

block layoutContent

  .ng-cloak(ng-if="App.logged")

    include includes/header

    include includes/nav

    iframe#downloader

    include includes/notification

    include includes/confirmation

  .view.ng-cloak(ng-view,
    ng-if="App.showView",
    ng-class="{'loading': App.loading}")
