extends layouts/head.jade

block layoutContent

    include includes/modules/module-filter-tools
    
    include includes/modules/module-listing-action
    
    include includes/modules/module-listing-session-employeur
    
    include includes/modules/module-listing-session-cpf
    
    include includes/modules/module-listing-session-cif
    
    include includes/modules/module-new-action
    
    include includes/modules/module-new-session-employeur
    
    include includes/modules/module-new-session-cpf
    
    include includes/modules/module-new-session-cif
        